<!DOCTYPE html>
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About US</h2>
        <p>Nice Blog</p>
        <p>Nice Blog</p>
        <p>Nice Blog</p>
        <p>Nice Blog</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>